<div class="loading" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<div class="ctr-col">
  <div class="grow">
    <table class="grow" mat-table [dataSource]="dataSource">
      <!-- Template for filter -->
      <ng-container *ngFor="let column of columns">
        <ng-container [matColumnDef]="getFilterKey(column)">
          <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
              <mat-label>{{column.headerText}}</mat-label>
              <input matInput [(ngModel)]="filter[column.field]" (ngModelChange)="onFilterChange()">
            </mat-form-field>
          </th>
        </ng-container>
      </ng-container>

      <!-- Template for blank -->
      <ng-container matColumnDef="blank">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <!-- Template for select -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <!-- <mat-checkbox></mat-checkbox> -->
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [checked]="isSelected(row)" (click)="$event.stopPropagation()" (change)="selectedToggle(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <!-- Template for data -->
      <ng-container *ngFor="let column of columns">
        <ng-container [matColumnDef]="column.field">
          <th mat-header-cell *matHeaderCellDef>{{column.headerText}}</th>
          <td mat-cell *matCellDef="let row">{{row[column.field]}}</td>
        </ng-container>
      </ng-container>
    
      <!-- Generate rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectedToggle(row)"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">No data</td>
      </tr>
    </table>
  </div>
  <mat-paginator #paginator showFirstLastButtons
                            [pageSize]="10"
                            [pageSizeOptions]="pageSizeOptions"
                            [length]="dataSource.total$ | async" >
  </mat-paginator>
</div>
