<div class="ctr-col">
  <mat-toolbar color="primary">
    <span>Properties</span>
    <span class="grow"></span>
    <button mat-icon-button (click)="create()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!isOneSelected" (click)="update()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!isOneSelected" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>
  <div class="grow">
    <app-property-grid #grid [schematicId]="schematic.id"></app-property-grid>
  </div>
</div>