<mat-dialog-content>
  <mat-toolbar color="primary">
    <span>Item Selector</span>
    <span class="grow"></span>
    <button mat-icon-button [mat-dialog-close]="undefined">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <app-grid #grid [gridConfig]="gridConfig" (selectedChange)="onSelectedChange($event)"></app-grid>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" mat-button [disabled]="!isAnySelected" (click)="clear()">
    <span>Clear Selection</span>
  </button>
  <button color="primary" mat-raised-button (click)="confirm()">
    <span>Confirm</span>
  </button>
</mat-dialog-actions>
