.card {
  width: 500px;
  padding: 0;
}

.toolbar {
  border-radius: 4px 4px 0 0;
}

.form {
  padding: 8px;
}

.icon {
  margin-right: 4px;
}

.actions {
  display: flex;
  padding: 0 8px 8px 8px;
}
