<mat-card class="card mat-elevation-z8">
  <mat-toolbar class="toolbar" color="primary">Blueprint</mat-toolbar>
  <div>
    <form id="loginForm" class="ctr-col form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-icon class="icon" matPrefix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required>
        <mat-icon class="icon" matPrefix>password</mat-icon>
      </mat-form-field>
    </form>
    <div class="actions">
      <span class="grow"></span>
      <button type="submit" form="loginForm" mat-raised-button color="accent">
        Login
      </button>
    </div>
  </div>
</mat-card>
