<div class="ctr-col">
  <mat-toolbar color="accent">
    <span>Create {{schematic.name}}</span>
  </mat-toolbar>
  <div class="grow padding">
    <app-custom-form [schematic]="schematic"></app-custom-form>
  </div>
  <div class="actions">
    <span class="grow"></span>
    <button color="primary" mat-raised-button (click)="create()">
      <mat-icon class="icon">save</mat-icon>
      <span>Create</span>
    </button>
  </div>
</div>
