<div class="ctr-col">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Blueprint</span>
    <span class="grow"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="grow">
    <mat-sidenav #drawer mode="side">
      <div class="ctr-col">
        <div class="grow">
          <mat-nav-list>
            <ng-container *ngFor="let nav of navigations">
              <mat-list-item [routerLink]="nav.route"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                (click)="drawer.close()">
                <mat-icon>{{nav.icon}}</mat-icon>
                <span class="label">{{nav.label}}</span>
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </div>
        <div class="about">
          <span>v0.0.1</span>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<mat-menu #menu>
  <button mat-menu-item routerLink="settings">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
