<ng-container [ngSwitch]="code">
  <app-control-decimal  *ngSwitchCase="'decimal'"  [control]="control" [property]="property"></app-control-decimal>
  <app-control-integer  *ngSwitchCase="'integer'"  [control]="control" [property]="property"></app-control-integer>
  <app-control-text     *ngSwitchCase="'text'"     [control]="control" [property]="property"></app-control-text>
  <app-control-textarea *ngSwitchCase="'textarea'" [control]="control" [property]="property"></app-control-textarea>
</ng-container>
