<div class="ctr-col">
  <mat-toolbar color="accent">
    <span>Create Schematic</span>
  </mat-toolbar>
  <div class="grow padding">
    <app-schematic-form></app-schematic-form>
  </div>
  <div class="actions">
    <span class="grow"></span>
    <button color="primary" mat-raised-button (click)="create()">
      <mat-icon class="icon">save</mat-icon>
      <span>Create</span>
    </button>
  </div>
</div>
