<div class="ctr-col">
  <mat-toolbar color="accent">
    <span>Update Schematic</span>
  </mat-toolbar>
  <div class="grow padding">
    <mat-tab-group>
      <mat-tab label="Main">
        <app-schematic-form [schematic]="schematic"></app-schematic-form>
      </mat-tab>
    
      <mat-tab label="Properties">
        <app-property-grid-container></app-property-grid-container>
      </mat-tab>
    
      <mat-tab label="Relations">
        <app-relation-grid-container></app-relation-grid-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="actions">
    <span class="grow"></span>
    <button color="primary" mat-raised-button (click)="update()">
      <mat-icon class="icon">save</mat-icon>
      <span>Update</span>
    </button>
  </div>
</div>
