<div class="ctr-col">
  <mat-toolbar color="accent">
    <span>Update {{schematic.name}}</span>
  </mat-toolbar>
  <div class="grow padding">
    <app-custom-form [schematic]="schematic" [entity]="entity"></app-custom-form>
  </div>
  <div class="actions">
    <span class="grow"></span>
    <button color="primary" mat-raised-button (click)="update()">
      <mat-icon class="icon">save</mat-icon>
      <span>Update</span>
    </button>
  </div>
</div>
