<form class="ctr-col">
  <ng-container *ngFor="let control of customForm.controls; let index = index;">
    <app-control [control]="$any(control)" [property]="getProperty(index)"></app-control>
  </ng-container>
</form>
