<mat-dialog-content>
  <mat-toolbar color="primary">
    <span>Create Relation</span>
    <span class="grow"></span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <app-relation-form></app-relation-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" mat-raised-button (click)="create()">
    <mat-icon class="icon">save</mat-icon>
    <span>Create</span>
  </button>
</mat-dialog-actions>
