<mat-dialog-content>
  <mat-toolbar color="primary">
    <span>Update Property</span>
    <span class="grow"></span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <app-property-form [property]="property"></app-property-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="primary" mat-raised-button (click)="update()">
    <mat-icon class="icon">save</mat-icon>
    <span>Update</span>
  </button>
</mat-dialog-actions>
