<mat-sidenav-container class="ctr-col">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <ng-container *ngFor="let nav of navigations">
        <mat-list-item [routerLink]="nav.route" routerLinkActive="active">
          <mat-icon>{{nav.icon}}</mat-icon>
          <span class="label">{{nav.label}}</span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
