/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

// flex container row
.ctr-row {
  display: flex;
  height: 100%;
}

// flex container column
.ctr-col {
  @extend .ctr-row;
  flex-direction: column;
}

// flex grow
.grow {
  flex: 1 1 auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
