<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  {{message}}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button [style.color]="'white'" [style.backgroundColor]="color" mat-raised-button [mat-dialog-close]="true">{{action}}</button>
</mat-dialog-actions>
