<form [formGroup]="propertyForm" class="ctr-col">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Property Type</mat-label>
    <app-item-selector key="property-type" formControlName="propertyType"></app-item-selector>
  </mat-form-field>
</form>
