<form [formGroup]="relationForm" class="ctr-col">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Schematic</mat-label>
    <app-item-selector formControlName="schematic" key="schematic"></app-item-selector>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relation Type</mat-label>
    <mat-select formControlName="relationType">
      <mat-option value="OneToOne">One to one</mat-option>
      <mat-option value="OneToMany">One to many</mat-option>
      <mat-option value="ManyToOne">Many to one</mat-option>
      <mat-option value="ManyToMany">Many to many</mat-option>
    </mat-select>
  </mat-form-field>
</form>
